.breadcrumb {

    display: flex;
    align-items: center;
    gap: 5px;


    &__icon {
        font-size: 12px;
    }

    &__links {
        font-size: 14px;
        font-weight: 500;
        color: var(--clr-primary-2);
    }
}

.shop {









    &__header {
        position: relative;
    }

    &__header::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 80px;
        background: #ca1515;

    }

    &__accordion--title {
        display: flex;
        justify-content: space-between;
        // padding-bottom: .3rem;
        border-bottom: 1px solid red;
        cursor: pointer;
        padding: .8rem 0;
        background-color: #9999;
    }

    &__accordion--btn {
        background: transparent;
        font-size: 12px;
    }

    &__accordion--icon.rotate-icon {
        transform: rotate(180deg);
        transition: all 400ms ease-in;
    }

    &__accordion--list {
        padding-top: 1rem;
        padding-left: .8rem;
        list-style: none;

    }

    &__accordion--links {
        font-size: 14px;
        color: var(--clr-primary-3);
        line-height: 30px;
        position: relative;
    }

    &__accordion--links::before {
        position: absolute;
        left: -10px;
        top: 14px;
        height: 1px;
        width: 4px;
        background: #666666;
        content: "";
    }

    &__accordion--text {
        display: none;
        height: 0;
        overflow: hidden;
        transition: all 500ms ease-in;

    }

    &__accordion--text.active {
        display: block;
        height: auto;
    }


}