.breadcrumb {

    display: flex;
    align-items: center;
    gap: 5px;


    &__icon {
        font-size: 12px;
    }

    &__links {
        font-size: 14px;
        font-weight: 500;
        color: var(--clr-primary-2);
    }
}

.shop {

    &__content {
        display: flex;
        gap: 25px;
        // grid-template-columns: 1fr 1fr 1fr;
        
        // justify-content: space-between;
        // align-items: center;
        // gap: 30px;
        // overflow: hidden;

    }

    &__categories {
        flex-basis: 25%;
    }

    &__gallery {
        flex-basis: 75%;
    }









    &__header {
        position: relative;
    }

    &__header::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 80px;
        background: #ca1515;

    }

    &__accordion--title {
        display: flex;
        justify-content: space-between;

        border-bottom: 1px solid #f2f2f2;
        cursor: pointer;
        padding: .8rem 0;
        background-color: #9999;
    }

    &__accordion--btn {
        background: transparent;
        font-size: 12px;
    }

    &__accordion--icon.rotate-icon {
        transform: rotate(180deg);
        transition: all 400ms ease-in;
    }

    &__accordion--list {
        padding-left: .8rem;
        list-style: none;

    }

    &__accordion--links {
        font-size: 14px;
        color: var(--clr-primary-3);
        line-height: 30px;
        position: relative;
    }

    &__accordion--links::before {
        position: absolute;
        left: -10px;
        top: 14px;
        height: 1px;
        width: 4px;
        background: #666666;
        content: "  ";
    }

    &__accordion--text {
        // height: 0;
        // overflow: hidden;
        // visibility: hidden;
        transition: all 500ms ease-in;

    }

    // &__accordion--text.show-text {
    //     height: auto;
    //     visibility: visible;

    // }




}

.price-range-slider {
    width: 100%;
    float: left;
    // padding: 10px 20px;
}

.price-range-slider .range-value {
    margin: 0;
}

.price-range-slider .range-value input {
    width: 100%;
    background: none;
    color: #333333;
    font-size: 16px;
    font-weight: initial;
    box-shadow: none;
    border: none;
    margin: 20px 0 20px 0;
}

.price-range-slider .range-bar {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    height: 5px;
    width: 96%;
    margin-left: 8px;
}

.price-range-slider .range-bar .ui-slider-range {
    background: var(--bg-btn);
}

.price-range-slider .range-bar .ui-slider-handle {
    border: none;
    border-radius: 25px;
    background: var(--bg-btn);
    border: 2px solid var(--bg-btn);
    height: 17px;
    width: 17px;
    top: -0.49em;
    cursor: pointer;
    outline: none;
}

.range-price {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 500;
    display: inline-block;
}

.price-range-slider .range-bar .ui-slider-handle+span {
    background: var(--bg-btn);
}

.range-price,
.range-value {
    display: inline-block;
    // display: none;
}

/*--- /.price-range-slider ---*/

/* add this to your :root variables */
.checkbox {
    --light: rgba(207, 205, 205, 0.425);
    --primary-color: var(--bg-btn);
    --duration: 0.3s;
    --ease: ease-in-out;
}

/* hide checkbox */
.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.checkbox label span {
    margin-left: 8px;
}

.checkbox svg {
    height: 12px;
    width: 12px;
}

/* svg rectangle property */
.checkbox svg>rect {
    fill: var(--light);
    stroke: var(--bg-btn);
    /* responsive values */
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
    transition: var(--duration) stroke-dashoffset var(--ease);
}

/* svg check property */
.checkbox svg path {
    stroke: var(--primary-color);
    /* responsive values */
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    transition: var(--duration) stroke-dashoffset var(--ease);
}

.checkbox input[type="checkbox"]:checked+label svg>rect,
.checkbox input[type="checkbox"]:checked+label svg path {
    stroke-dashoffset: 0;

}

.checkbox span {
    font-size: 14px;
    color: #444444;
}