body {
    line-height: 1.5;
    font-family: var(--ff-Mont);
    font-weight: 400;
    text-align: left;
    font-size: 1rem;
    color: var(--bg-color);
    // background-color: var(--bg-color);
}

.section-center {
    max-width: 1100px;
    margin: 0 auto;
    // height: 0;
}

.pd-bg {
    padding: 8rem 0;

}

.pd-md {
    padding: 4rem 0;

}

.pd-sm {
    padding: 3rem 0;

}

.text-center {
    text-align: center;
}

.text-white {
    color: #FFF !important;
}

.heading-1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--clr-black);
}

.heading-2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-black);
}

.heading-3 {
    font-size: 18px;
    color: var(--clr-black);

}

.heading-4 {
    font-size: 16px;
    color: var(--clr-black);

}

.heading-5 {
    font-size: 14px;
    color: var(--clr-primary-3);
}

.heading-5-dark {
    font-size: 14px;
    color: var(--clr-black);
    padding-bottom: 1.5rem;
}

.heading-6-dark {
    font-size: 12px;
    color: var(--clr-black);
}

.show-now_link {
    font-size: 14px;
    color: var(--bg-color);
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;
}

.show-now_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ca1515;
}


.icon::before {
    position: absolute;
    right: -12px;
    top: -11px;
    height: 18px;
    width: 18px;
    background: #902323;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
}










@media screen and (max-width:1200px) {
    .section-center {
        max-width: 1000px;
    }
}

@media screen and (max-width:1050px) {
    .section-center {
        max-width: 800px;
        // padding-left: 20px;
        // padding-right: 20px;


    }
}

@media screen and (max-width:820px) {
    .section-center {
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .heading-1 {
        font-size: 30px;

    }

    .heading-2 {
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 1rem;
        color: var(--section-heading);
        font-family: inherit;
    }

    .paragraph-1 {
        font-size: 12px;

    }


}