body {
  line-height: 1.5;
  font-family: var(--ff-Mont);
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
  color: var(--bg-color); }

.section-center {
  max-width: 1100px;
  margin: 0 auto; }

.pd-bg {
  padding: 8rem 0; }

.pd-md {
  padding: 4rem 0; }

.pd-sm {
  padding: 3rem 0; }

.pb-sm {
  padding-bottom: 2rem; }

.text-center {
  text-align: center; }

.text-white {
  color: #FFF !important; }

.heading-1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--clr-black); }

.heading-2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--clr-black); }

.heading-3 {
  font-size: 18px;
  color: var(--clr-black); }

.heading-4 {
  font-size: 16px;
  color: var(--clr-black); }

.heading-5 {
  font-size: 14px;
  color: var(--clr-primary-3); }

.heading-5-dark {
  font-size: 14px;
  color: var(--clr-black);
  padding-bottom: 1.5rem; }

.heading-6-dark {
  font-size: 12px;
  color: var(--clr-black); }

.show-now_link {
  font-size: 14px;
  color: var(--bg-color);
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding: 0 0 3px;
  display: inline-block; }

.show-now_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #ca1515; }

.icon::before {
  position: absolute;
  right: -12px;
  top: -11px;
  height: 18px;
  width: 18px;
  background: #902323;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  line-height: 18px;
  text-align: center;
  border-radius: 50%; }

@media screen and (max-width: 1200px) {
  .section-center {
    max-width: 1000px; } }

@media screen and (max-width: 1050px) {
  .section-center {
    max-width: 800px; } }

@media screen and (max-width: 820px) {
  .section-center {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px; }
  .heading-1 {
    font-size: 30px; }
  .heading-2 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 1rem;
    color: var(--section-heading);
    font-family: inherit; }
  .paragraph-1 {
    font-size: 12px; } }

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0 solid transparent;
  scroll-behavior: smooth; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

ol,
ul {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

button {
  padding: 0;
  margin: 0; }

button:hover {
  cursor: pointer; }

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

:root {
  --clr-primary-1: #343a40;
  --clr-primary-2: #888888;
  --clr-primary-3: #666666;
  --clr-primary-4: #444444;
  --clr-primary-5: #B1B0B0;
  --clr-primary-6: #f2f2f2;
  --clr-primary-7: #f4f4f4;
  --clr-primary-8: #e1e1e1;
  --clr-primary-9: #ffffff;
  --clr-black: #111111;
  --bg-color: #212529;
  --bg-btn: #CA1515;
  --clr-green: #36A300;
  --product-color-1: #E31E2f;
  --product-color-2: #E4AA8B;
  --yellow-clg: #e3c01c;
  --max-width: 1170px;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  --ff-Cookie: 'Cookie', cursive;
  --ff-Mont: 'Montserrat', sans-serif; }

header {
  background-color: var(--clr-primary-9);
  box-shadow: var(--box-shadow); }

.navbar {
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem; }
  .navbar__list {
    display: flex;
    list-style: none;
    gap: 35px; }
  .navbar__links {
    font-size: 15px;
    font-weight: 500;
    color: var(--clr-black);
    text-transform: uppercase;
    position: relative; }
  .navbar__links::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--bg-btn);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    transition: all 300ms ease-in; }
  .navbar__links:not(.navbar__active-link):hover::after {
    width: 100%; }
  .navbar__active-link {
    border-bottom: 2px solid var(--bg-btn);
    padding-bottom: 5px; }
  .navbar__drop-down-menu {
    position: relative; }
  .navbar__drop-down-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: #111111;
    color: #ffffff;
    padding: 18px 20px;
    top: 70px;
    transform: translateY(30px);
    transition: all 400ms ease;
    opacity: 0; }
  .navbar__drop-down-list.show-list {
    opacity: 1;
    transform: translateY(0); }
  .navbar__sign-up {
    font-size: 12px;
    color: var(--clr-primary-3); }
  .navbar__icons {
    display: flex;
    align-items: center;
    gap: 25px; }
  .navbar__notify {
    position: relative; }
  .navbar__notify::before {
    content: '1';
    position: absolute;
    right: -12px;
    top: -11px;
    height: 18px;
    width: 18px;
    background: #080808;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    border-radius: 50%; }
  .navbar__notify:last-of-type::before {
    content: '2'; }
  .navbar__ham-menu {
    display: none; }

@media screen and (max-width: 1045px) {
  .navbar__list {
    display: none; }
  .navbar__icons {
    display: none; }
  .navbar__ham-menu {
    display: block;
    font-size: 22px;
    color: #222;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #323232;
    border-radius: 2px;
    cursor: pointer; }
  .sideNav {
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    background-color: #f2f2f2;
    overflow-y: auto;
    padding: 1.5rem;
    transform: translateX(-100%);
    transition: 0.5s ease-in; }
    .sideNav__closeNav {
      text-align: right; }
    .sideNav__icons {
      display: flex;
      gap: 25px;
      justify-content: center;
      align-items: center; }
    .sideNav__menu {
      background-color: #4c4c4c;
      color: #fff;
      padding: 1rem 1rem;
      border-radius: 5px; }
    .sideNav__btn {
      border-radius: 4px;
      background-color: #222;
      padding: 0.438em 0.625em; }
    .sideNav__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-top: 2rem;
      display: none;
      transition: all 400ms ease-in; }
    .sideNav__list.show-list {
      display: flex; }
    .sideNav__links {
      padding: .1rem .2rem;
      display: block;
      border-radius: 5px; }
    .sideNav__links:hover {
      background-color: var(--clr-primary-6);
      cursor: pointer;
      color: #080808; }
    .sideNav__links i {
      font-size: 12px;
      padding-left: .5rem; }
    .sideNav__drop-down-list {
      display: flex;
      flex-direction: column;
      padding-left: 1.5rem;
      gap: 5px;
      padding-top: 10px;
      display: none; }
    .sideNav__drop-down-list.show-sub-links {
      display: flex; }
    .sideNav__sub-links {
      display: block;
      border-radius: 5px;
      font-size: 14px; }
    .sideNav__sub-links:hover {
      background-color: var(--clr-primary-6);
      cursor: pointer;
      color: #080808; }
    .sideNav__sign-up {
      padding-top: .5rem; }
    .sideNav__sign-up-links {
      color: #111111;
      font-weight: 500;
      font-size: 15px; }
  .sideNav.show-sideNav {
    transform: translateX(0); }
  .fa-circle-xmark {
    font-size: 35px;
    cursor: pointer; } }
