.contact {
    display: flex;
    gap: 40px;

    &__rows {
        flex-basis: 50%;
    }

    &__maps {
        flex-basis: 50%;
    
    }

    &__text {
        font-size: 16px;
        font-weight: 600;
        color: var(--clr-black);
        margin-bottom: 10px;
    }


    &__text span {
        color: var(--bg-btn);
        font-size: 14px;
        margin-right: 10px;


    }

    &__form {


        &--form input {
            height: 50px;
            width: 100%;
            padding-left: 20px;
            font-size: 14px;
            color: #444444;
            border: 1px solid #e1e1e1;
            border-radius: 10px;
            margin-bottom: 20px;
            outline: none;

        }

        &--form textarea {
            height: 130px;
            width: 100%;
            padding-left: 20px;
            padding-top: 12px;
            font-size: 14px;
            color: #444444;
            border: 1px solid #e1e1e1;
            border-radius: 10px;
            margin-bottom: 14px;
            resize: none;
        }

        &--form button {
            font-size: 14px;
            color: #ffffff;
            background: #ca1515;
            font-weight: 600;
            border: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 12px 30px;
            border-radius: 50px;
        }
    }
}
@media screen and (max-width:600px) {
    .contact{
        flex-direction: column;
    }
    
}