.breadcrumb {

    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 3rem;



    &__icon {
        font-size: 12px;
    }

    &__links {
        font-size: 14px;
        font-weight: 500;
        color: var(--clr-primary-2);
    }
}


.blog {

    &__row {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0 1rem;

    }



    &__item {
        position: relative;
        margin-bottom: 5rem;
        width: 100%;


        &--img img {
            width: 100%;

        }

        &--text {
            position: absolute;
            background-color: #fff;
            padding: 25px 20px 0 0;

            bottom: -40px;
            width: 95%;

        }

        &--header {
            font-size: 16px;
            font-weight: 600;
            color: #111111;


        }

        &--list {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            position: relative;
        }

        &--list li {
            font-size: 12px;
            color: #888888;
            font-weight: 400;


        }

        &--list li:first-of-type::after {
            position: absolute;
            content: "|";
            top: 0;
            left: 50%;


        }
    }



}

.load-div {
    text-align: center;
    padding: 3rem 0;
}

.load-btn {
    background-color: #f2f2f2;
    color: #111111;
    border: none;
    border-radius: 50px;
    padding: 12px 85px 10px;
    font-size: 14px;
    font-weight: 600;

}


@media screen and (max-width:1000px) {

    .breadcrumb {

        padding: 2rem 2rem;
    }

    .blog {


        &__cols {
            // flex-basis: 33.333%;
            flex-grow: 1;
        }





    }

}