header {
    background-color: var(--clr-primary-9);
    box-shadow: var(--box-shadow);
}

.navbar {
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;

    &__list {
        display: flex;
        list-style: none;
        gap: 35px;
    }

    &__links {
        font-size: 15px;
        font-weight: 500;
        color: var(--clr-black);
        text-transform: uppercase;
        position: relative;
    }

    &__links::after {
        content: '';
        width: 0;
        height: 2px;
        background: var(--bg-btn);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 25px;
        transition: all 300ms ease-in;
    }

    &__links:not(.navbar__active-link):hover::after {
        width: 100%;
    }


    &__active-link {
        border-bottom: 2px solid var(--bg-btn);
        padding-bottom: 5px;
    }

    &__drop-down-menu {
        position: relative;
    }

    &__drop-down-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        background-color: #111111;
        color: #ffffff;
        padding: 18px 20px;
        top: 70px;
        transform: translateY(30px);
        transition: all 400ms ease;
        opacity: 0;
    }

    &__drop-down-list.show-list {
        opacity: 1;
        transform: translateY(0);

    }

    // &__drop-down-menu:hover &__drop-down-list {}


    &__sign-up {
        font-size: 12px;
        color: var(--clr-primary-3);
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 25px;
    }



    &__notify {
        position: relative;
    }


    &__notify::before {
        content: '1';
        position: absolute;
        right: -12px;
        top: -11px;
        height: 18px;
        width: 18px;
        background: #080808;
        font-size: 10px;
        font-weight: 500;
        color: #ffffff;
        line-height: 18px;
        text-align: center;
        border-radius: 50%;
    }

    &__notify:last-of-type::before {
        content: '2';
    }

    &__ham-menu {
        display: none;
    }
}

.sideNav {
    display: none;
}

@media screen and (max-width:1045px) {
    .navbar {

        &__list {
            display: none;

        }

        &__icons {
            display: none;

        }

        &__ham-menu {
            display: block;
            font-size: 22px;
            color: #222;
            height: 35px;
            width: 35px;
            line-height: 35px;
            text-align: center;
            border: 1px solid #323232;
            border-radius: 2px;
            cursor: pointer;
        }
    }

    .sideNav {
        display: block;
        min-height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        background-color: #f2f2f2;
        overflow-y: auto;
        padding: 1.5rem;
        transform: translateX(-100%);
        transition: 0.5s ease-in;

        &__closeNav {
            text-align: right;
        }

        &__icons {
            display: flex;
            gap: 25px;
            justify-content: center;
            align-items: center;
        }


        &__menu {
            background-color: #4c4c4c;
            color: #fff;
            padding: 1rem 1rem;
            border-radius: 5px;

        }

        &__btn {
            border-radius: 4px;
            background-color: #222;
            // text-shadow: 0 1px 1px rgba(255 255 255 .9);
            padding: 0.438em 0.625em;
            // margin: 5px 5px 6px;
        }

        &__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-top: 2rem;
            display: none;
            // height: 0;
            // opacity: 0;
            transition: all 400ms ease-in;



        }

        &__list.show-list {
            display: flex;
            // height: 17rem;
            // opacity: 1;

        }

        &__links {
            padding: .1rem .2rem;
            display: block;
            border-radius: 5px;
        }

        &__links:hover {
            background-color: var(--clr-primary-6);
            cursor: pointer;
            color: #080808;
        }

        &__links i {
            font-size: 12px;
            padding-left: .5rem;
        }



        &__drop-down-list {
            display: flex;
            flex-direction: column;
            padding-left: 1.5rem;
            gap: 5px;
            padding-top: 10px;
            display: none;
        }

        &__drop-down-list.show-sub-links {
            display: flex;
        }

        &__sub-links {

            display: block;
            border-radius: 5px;
            font-size: 14px;

        }

        &__sub-links:hover {
            background-color: var(--clr-primary-6);
            cursor: pointer;
            color: #080808;
        }

        &__arrow-right {
            transform: rotate(150deg);
            width: 10px;

        }

        &__sign-up {
            padding-top: .5rem;
        }

        &__sign-up-links {
            color: #111111;
            font-weight: 500;
            font-size: 15px;

        }

    }

    .sideNav.show-sideNav {
        transform: translateX(0);
    }

    .fa-circle-xmark {

        font-size: 35px;
        cursor: pointer;

    }

}