.product {
    // max-width: 1100px;
    // margin: 0 auto;

    // &__content {}

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__header h2 {
        position: relative;

    }

    &__header h2::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 80px;
        background: #ca1515;
        // color: red;
    }

    &__list {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 25px;
        list-style: none;
    }

    &__links {
        cursor: pointer;
        padding-bottom: 3px;
    }

    &__links.active {
        border-bottom: 2px solid var(--bg-btn);

    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 35px;
    }

    &__rows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        position: relative;



    }

    &__rows:nth-child(1)::after {
        content: 'New';
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: var(--clr-green);
        font-size: 12px;
        display: inline-block;
        padding: 2px 8px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }

    &__rows:nth-child(3)::after {
        content: 'out of stock';
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: #000;
        font-size: 12px;
        display: inline-block;
        padding: 2px 8px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }

    &__rows:nth-child(6)::after {
        content: 'Sale';
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: var(--bg-btn);
        font-size: 12px;
        display: inline-block;
        padding: 2px 8px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }

    &__rows:nth-child(6) h6 {
        color: var(--bg-btn);
    }

    &__rows:nth-child(8)::after {
        content: 'Sale';
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: var(--bg-btn);
        font-size: 12px;
        display: inline-block;
        padding: 2px 8px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }

    &__rows:nth-child(8) h6 {
        color: var(--bg-btn);
    }



    &__img-section {
        position: relative;
        overflow: hidden;


    }

    &__text {
        padding-top: 1.2rem;
    }

    &__icon-star {
        font-size: 10px;
        color: var(--yellow-clg);
        margin-right: -4px;
        width: 12px;
    }

    &__icons-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 0;
        margin: 0;



        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        transform: translateY(100px);
        transition: all 400ms ease-in-out;



    }





    &__rows:hover &__icons-list {
        cursor: pointer;
        transform: translateY(0);


    }




    &__icons {
        background-color: #fff;
        padding: 1rem;
        border-radius: 50%;
        ;




    }


    &__icons:hover {
        background-color: var(--product-color-1);
        color: #fff;

    }



    &__icons:hover i {
        transform: rotate(360deg);
        transition: all 400ms ease-in;

    }

}

// @media screen and (max-width:1200px) {
//     .product {
//         // max-width: 1000px;
//     }
// }

@media screen and (max-width:1060px) {
    .product {
        // padding-left: 10px;
        // padding-right: 10px;


        &__gallery {

            grid-template-columns: 1fr 1fr 1fr;
            // column-gap: 10px;
            // row-gap: 15px;
        }

    }
}

@media screen and (max-width:820px) {
    .product {

        &__gallery {

            grid-template-columns: 1fr 1fr;
            // column-gap: 10px;
            // row-gap: 15px;

        }

        &__header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        &__links {
            font-size: 15px !important;
        }
    }
}

@media screen and (max-width:590px) {
    .product {

        &__gallery {

            grid-template-columns: 1fr;
            // column-gap: 10px;
            // row-gap: 15px;

        }

        &__imgs {
            // max-width: 100%;
            width: 400px;
            // display: block;
            // object-fit: contain;
        }
    }

}

// .fa-solid:hover {}