.product {

    // &__content {}

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 25px;
        list-style: none;
    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 35px;
    }

    &__rows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
    }

    &__rows:nth-child(1) img {
        position: relative;
        // display: none;
        // width: 50%;


    }


    // &__rows:nth-child(1) img::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     z-index: 1000;
    //     color: red;
    //     width: 100px;
    //     height: 100px;
    //     background-color: red;
    // }



    &__img-section {
        position: relative;
        overflow: hidden;

    }

    &__text {
        padding-top: 1.2rem;
    }

    &__icon-star {
        font-size: 10px;
        color: var(--yellow-clg);
        margin-right: -4px;
        width: 12px;
    }

    &__icons-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 0;
        margin: 0;



        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    // &__icons-list.hover-icon {

    // }
    &__imgs:hover {
        cursor: pointer;
        bottom: 40px;

    }

    &__icons {
        background-color: #fff;
        padding: 1rem;
        border-radius: 50%;
        transition: all 300ms ease-in;
    }

    &__icons:hover {

        background-color: var(--product-color-1);
        color: #fff;
        // display: none;
    }

    // &__icons:hover i {
    //     transform: rotate(360deg);
    // }

}

// .fa-solid:hover {}