.product {

    // &__content {}

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 25px;
        list-style: none;
    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 35px;
    }

    &__rows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__rows:nth-child(1) img {
        position: relative;
        // display: none;
        // width: 50%;


    }

    &__rows:nth-child(1) img::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: 1000;
        color: red;
        width: 100px;
        height: 100px;
        background-color: red;
    }

    &__text {
        padding-top: 1.2rem;
    }

    &__icon {
        font-size: 10px;
        color: var(--yellow-clg);
        margin-right: -4px;
    }
}